body {
  font-size: 105%;
  border-width: medium;
  border: solid;
  border-color: black;
  padding: 5%;
}

img {
  display: block;
  margin: 0px auto;
  
}
a:link {
  color: green;
  text-decoration: none;
}

a:visited {
  color: red;
}

a:hover {
  color: darkgreen;
  text-decoration: underline;
}
h1 {
  font-family: fantasy;
  text-align: center;
  border-width: medium;
  border-color: black;
  padding: 5%;


}

h2 {
  font-family: impact, fantasy;

}

p {
  font-family: cursive;
}

fieldset  {
  text-align: center;
  border: dashed;
}

.home {
  display: block;
  background-image: url(gillshome2.jpg);
  background-repeat: no-repeat;
  margin: auto;


}
.small  {
  height: 450px;
  width: 600px

}

footer  {
  text-align: center;
  margin: 5px;
}

#intro {
  text-align: center;
  font-size: 150%;
}

